/* module productcomments */
form#sendComment fieldset {
  padding: 10px;
  border: 1px solid #cccccc;
  background: #eeeeee;
}

form#sendComment h3 {
  font-size: 14px;
}

#new_comment_form p.text {
  margin-bottom: 0;
  padding-bottom: 0;
}

#sendComment p.text label,
#sendComment p.textarea label {
  display: block;
  margin: 12px 0 4px;
  font-weight: bold;
  font-size: 12px;
}

#sendComment p.text input {
  padding: 0 5px;
  height: 28px;
  width: 498px;
  border: 1px solid #cccccc;
  background: url(../img/bg_input.png) repeat-x 0 0 white;
}

#sendComment p.textarea textarea {
  height: 80px;
  width: 508px;
  border: 1px solid #cccccc;
}

#sendComment p.submit {
  padding: 0;
  text-align: right;
}

#sendComment p.closeform {
  float: right;
  padding: 0;
  height: 12px;
  width: 12px;
  text-indent: -5000px;
  background: url(../img/icon/delete.gif) no-repeat 0 0;
}

.star {
  position: relative;
  top: -1px;
  float: left;
  width: 1.8rem;
  overflow: hidden;
  font-size: 2.1rem;
  font-weight: normal;
}

.star {
  display: block;
}
.star a {
  display: block;
  position: absolute;
  text-indent: -5000px;
}

div.star:after {
  content: "\f2fc";
  font-family: "Ionicons";
  display: inline-block;
  color: #e0e0e0;
  font-weight:400;
  line-height:1;
 vertical-align:top;
}

div.star.star_on {
  display: block;
}
div.star.star_on:after {
  content: "\f2fc";
  font-family: "Ionicons";
  display: inline-block;
  color: #fdd835;
  font-weight:400;
  line-height:1;
  vertical-align:top;
}

div.star.star_hover:after {
  content: "\f2fc";
  font-family: "Ionicons";
  display: inline-block;
  color: #fdd835;
  font-weight:400;
  line-height:1;
  vertical-align:top;
}

.rating {
  clear: both;
  display: block;
  margin: 2em;
  cursor: pointer;
}

.rating:after {
  content: ".";
  display: block;
  height: 0;
  width: 0;
  clear: both;
  visibility: hidden;
}

.cancel, .star {
  overflow: hidden;
  float: left;
  margin: 0 0.1rem 0 0;
  width: 1.8rem;
  height: 1.8rem;
}

.cancel a, .star a {
  display: block;
  width: 100%;
  height: 100%;
  background-position: 0 0;
}

div.star_on a {
  background-position: 0 -16px;
}

div.star_hover a,
div.star a:hover {
  background-position: 0 -32px;
}

.pack_content {
  margin: 10px 0 10px 0;
}

.confirmation {
  margin: 0 0 10px;
  padding: 10px;
  border: 1px solid #e6db55;
  font-size: 13px;
  background: none repeat scroll 0 0 lightyellow;
}

#page .rte {
  background: transparent none repeat scroll 0 0;
}
#page .rte em {
  font-style: italic !important;
}

.listcomment {
  list-style-type: none;
  margin: 0 0 20px 0 !important;
}

.listcomment li {
  padding: 10px 0;
  border-bottom: 1px dotted #ebebeb;
  color: #666666;
}

.listcomment .titlecomment {
  display: block;
  font-weight: bold;
  font-size: 12px;
  color: #ebebeb;
}

.listcomment .txtcomment {
  display: block;
  padding: 5px 0;
  color: #ebebeb;
}

.header-container {
  background: white;
  z-index: 9;
  position: relative;
}

#product_comments_block_extra {
  padding: 0;
  font-weight: normal;
  line-height: 18px;
  margin: 10px 0 0 0;
}
#product_comments_block_extra .comments_note {
  margin: 2px 5px 5px 0;
  display: inline-block;
}
#product_comments_block_extra .comments_note span {
  display: none;
}
#product_comments_block_extra .comments_note span,
#product_comments_block_extra .star_content {
  float: left;
  color: #333333;
}
#product_comments_block_extra .star_content {
  margin-top: 1px;
}
#product_comments_block_extra div.star:after {
  content: "\f2fc";
  font-family: "Ionicons";
  display: inline-block;
  color: #e0e0e0;
  font-weight:400;
  line-height:1;
  vertical-align:top;
}
#product_comments_block_extra div.star_on:after {
  content: "\f2fc";
  font-family: "Ionicons";
  display: inline-block;
  color: #fdd835;
  font-weight:400;
  line-height:1;
  vertical-align:top;
}
#product_comments_block_extra .comments_advices {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}

.comments_advices li {
  display: inline-block;
  line-height: 21px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .comments_advices li {
    display: block;
    line-height: 20px;
  }
}
.comments_advices a {
  text-decoration: none;
  color: #253237; 
  position: relative;
  margin-right: 8px;
  line-height: 21px;
  padding: 0;
  font-size: 14px;
  margin-bottom: 10px;
  cursor: pointer;
  display: inline-block;
}
@media (min-width: 768px) and (max-width: 991px) {
  .comments_advices a {
    float: none;
    line-height: 20px;
  }
}
.comments_advices a:before {
  display: inline-block;
 font-family: "Font Awesome 5 Free";
  font-size: 15px;
  font-weight: normal;
  line-height: 1;
  margin-right: 6px;
}
.comments_advices a.reviews:before {
  content: "\f4ad";
}
.comments_advices a.open-comment-form:before {
  content: "\f044"; 
}

.comments_advices a.reviews {
  margin-right: 9px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .comments_advices a.reviews {
    margin-right: 0;
    padding: 0;
    border: none;
  }
}

/* pop-in add grade/advice ********************************************************************* */
#fancybox-wrap {
  width: 585px;
}

#fancybox-content {
  width: 585px;
  border-width: 0;
}

#new_comment_form {
  overflow: hidden;
  color: #333333;
  text-align: left;
}
#new_comment_form h2 {
  margin-bottom: 10px;
  border: 0;
  text-transform: capitalize;
}
#new_comment_form .title {
  padding: 10px;
  font-size: 13px;
  color: white;
  text-transform: uppercase;
  background: #333333;
}
#new_comment_form ul.grade_content {
  list-style-type: none;
  margin: 0 0 20px 0;
}
#new_comment_form ul.grade_content li {
  width: 50%;
}
#new_comment_form ul.grade_content span {
  display: inline-block;
  padding: 0 10px;
  width: 150px;
  font-weight: bold;
}
#new_comment_form ul.grade_content .cancel {
  margin-right: 5px;
}
#new_comment_form .product {
  padding: 15px;
}
#new_comment_form .product img {
  border: 1px solid #ebebeb;
}
#new_comment_form .product .product_desc {
  line-height: 18px;
  color: #6f6f6f;
}
#new_comment_form .product .product_desc .product_name {
  padding: 10px 0 5px;
  font-size: 13px;
  color: #000;
}
#new_comment_form .new_comment_form_content {
  padding: 15px;
}
#new_comment_form .new_comment_form_content .intro_form {
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 12px;
}
#new_comment_form label {
  display: block;
  margin: 12px 0 4px 0;
  font-weight: bold;
  font-size: 12px;
}
#new_comment_form input,
#new_comment_form textarea {
  padding: 0 5px;
  height: 28px;
  width: 100%;
  border: 1px solid #ebebeb;
  background: white;
}
#new_comment_form textarea {
  height: 80px;
}
#new_comment_form .submit {
  margin-top: 20px;
  padding: 0;
  font-size: 13px;
  text-align: right;
}
#new_comment_form #criterions_list {
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 15px;
  list-style-type: none;
}
#new_comment_form #criterions_list li {
  margin-bottom: 10px;
}
#new_comment_form #criterions_list label {
  display: inline;
  float: left;
  margin: 0 10px 0 0;
  line-height:1;
}
#new_comment_form #criterions_list .star_content {
  float: left;
}
#new_comment_form #new_comment_form_footer {
  margin-top: 20px;
  font-size: 12px;
}

/* TAB COMMENTS ******************************************************************************** */
#product_comments_block_tab {
  margin: 0 0 20px 0;
}
#product_comments_block_tab div.comment {
  margin: 0 0 14px;
  padding-top: 14px;
  border-top: 1px solid #ebebeb;
}
#product_comments_block_tab div.comment:first-child {
  padding: 0;
  border: none;
}
#product_comments_block_tab div.comment .comment_author {
  line-height: 18px;
}
#product_comments_block_tab div.comment .comment_author span {
  font-weight: 600;
  text-transform: capitalize;
  font-size: 14px;
  color: #6c6c6c;
}
#product_comments_block_tab div.comment .comment_author .star_content {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 5px;
}
#product_comments_block_tab div.comment .comment_details {
  overflow: hidden;
  margin-top: 20px;
}
#product_comments_block_tab div.comment .comment_details h4 {
  font-weight: 600;
  text-transform: capitalize;
  font-size: 14px;
  color: #6c6c6c;
}
#product_comments_block_tab div.comment .comment_details p {
  color: #adadad;
  font-size: 12px;
}
@media (max-width: 767px) {
  #product_comments_block_tab div.comment .comment_details ul {
    list-style-type: none;
    margin: 0;
  }
  #product_comments_block_tab div.comment .comment_details ul li {
    padding: 2px 0 2px;
  }
  #product_comments_block_tab div.comment .comment_details ul li:before {
   font-family: "Font Awesome 5 Free";
    content: "\f0da";
    color: #333333;
    margin-right: 8px;
	font-weight: 900;
  }
}
#product_comments_block_tab div.star:after {
  content: "\f2fc";
  font-family: "Ionicons";
  display: inline-block;
  color: #e0e0e0;
  font-weight:400;
  line-height: 1;
  vertical-align: top;
}
#product_comments_block_tab div.star_on:after {
  content: "\f2fc";
  font-family: "Ionicons";
  display: inline-block;
  color: #fdd835;
  font-weight:400;
  line-height: 1;
  vertical-align: top;
}
#product_comments_block_tab .comment_author_infos {
  clear: both;
  padding-top: 9px;
}
#product_comments_block_tab .comment_author_infos strong {
  display: block;
  color: #333333;
  margin-bottom: 10px;
}
#product_comments_block_tab .comment_author_infos em {
  color: #adadad;
}
#product_comments_block_tab a {
  text-decoration: none;
  font-weight: 400;
  color: #ffffff;
}
#product_comments_block_tab a:hover {
  color: #ffffff;
}
#product_comments_block_tab span.report_btn {
  cursor: pointer;
}
#product_comments_block_tab span.report_btn:hover {
  text-decoration: underline;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.tabs .tab-pane {
  padding: 0;
}

#products .comments_note, .featured-products .comments_note, .product-accessories .comments_note {
  text-align: left;
  color: #acaaa6;
  font-size: 12px;
}

/* end module productcomments */