/* module search category */
 #_desktop_search_category {
 
}
 #_mobile_search_category {
     display: inline-block;
     width: 100%;
     margin: 1rem 0;
}
 #pos_search_top {
     padding: 0;
     position: relative;
}
 #pos_search_top .form_search {
     padding: 0;
     position: relative;
     width: 100%;
     float: left;
     height: 4.6rem;
     color: #a4a4a4;
}
 #pos_search_top .form_search label {
     display: none;
}
 #pos_search_top .form_search .search-block {
     height: 4.6rem;
     line-height: 4.6rem;
}
 #pos_search_top .form_search .form-control {
     padding: 1rem 7rem 1rem 2rem;
     width: 100%;
     height: 4.6rem;
     font-size: 1.2rem;
     background: #ffffff;
     color: #a4a4a4;
	 border-width: 0.2rem;
	 border-radius:3rem;
}
 #pos_search_top .form_search .form-control::-moz-placeholder {
     color: #a4a4a4;
}
 #pos_search_top .form_search .form-control::-webkit-input-placeholder {
     color: #a4a4a4;
}
 #pos_search_top .form_search .form-control:-ms-input-placeholder {
     color: #a4a4a4;
}
 #pos_search_top .form_search .form-control:focus {
     box-shadow: none;
}
 @media (max-width: 479px) {
     #pos_search_top .form_search .form-control {
         padding-right: 0;
    }
}
 #pos_search_top .form_search .search_submit {
     position: absolute;
     top: 0;
     right: 0;
     height: 4.6rem;
     line-height: 4.6rem;
     text-align: center;
     width: 6.5rem;
     text-align: center;
     color: #fff;
	 border-radius: 0 3rem 3rem 0;
     padding: 0;
     border: 0;
     -webkit-transition: all 300ms linear;
     -moz-transition: all 300ms linear;
     -ms-transition: all 300ms linear;
     -o-transition: all 300ms linear;
     transition: all 300ms linear;
}
 #pos_search_top .form_search .search_submit:hover {
    background:#0483d7;
}
 #pos_search_top .form_search .search_submit i {
     font-size: 2rem;
     display: block;
     line-height: 4.6rem;
}
 #pos_search_top .form_search .search_submit:hover {
     -webkit-transition: all 300ms linear;
     -moz-transition: all 300ms linear;
     -ms-transition: all 300ms linear;
     -o-transition: all 300ms linear;
     transition: all 300ms linear;
}
 #pos_search_top .form_search .form-group {
     position: absolute;
     right: 6.5rem;
     top: 0.2rem;
     display: inline-block;
     width: 15rem;
     margin: 0;
     background: transparent;
}
 #pos_search_top .form_search .form-group .bootstrap-select {
     width: 150px;
     height: 4.2rem;
     line-height: 4.2rem;
     margin: 0;
     border: 0;
     padding: 0 2.5rem;
     color: #363f4d;
     font-size: 1.4rem;
	 border-radius:3rem;
     -webkit-user-select: none;
     -moz-user-select: -moz-none;
     -ms-user-select: none;
     user-select: none;
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     background: url(../../img/option_search.png) no-repeat 90% 54% white;
}
 #pos_search_top .form_search.show-categories .form-control {
       padding-right: 22rem;
}
 #pos_search_top .form_search.show-categories .form-group:after {
     content: "";
     width: 0.1rem;
     height: 1.6rem;
     background: #e1e1e1;
     position: absolute;
     top: 50%;
     right: -1rem;
     margin-top: -0.8rem;
}
 @media (max-width: 480px) {
     #pos_search_top .form_search .form-control {
         font-size: 1rem;
         padding: 0 5rem 0 1rem;
    }
     #pos_search_top .form_search .form-group {
         width: 11rem;
    }
     #pos_search_top .form_search .form-group .bootstrap-select {
         width: 11rem;
         font-size: 1rem;
         padding: 0 1rem;
    }
     #pos_search_top .form_search.show-categories .form-control {
         padding-right: 17.5rem; 
    }
     #pos_search_top .form_search.show-categories .form-group:after {
         right: 0;
    }
}
.ui-corner-all.ui-widget-content {
     max-height: 38rem;
     overflow: auto;
     border: 1px solid #ebebeb;
	 padding:1rem;
}
.ui-corner-all.ui-widget-content li{
    margin-bottom:1.5rem;
}
.ui-corner-all.ui-widget-content li:last-child{
    margin-bottom:0; 
}
.ui-corner-all.ui-widget-content img {
    float:left;
	width:6rem;
}
.product {
	display:block;
	overflow:hidden; 
	padding:1.5rem 2rem;
	max-width:25rem; 
}
/* end module search category */
